<div class="container">
    <div class="card">
        <div class="logo">
            <img src="../assets/img/logo.svg" />
        </div>
        <p class="information-text">Şifrenizi sıfırlamak istediğiniz E-Mail adresini girin</p>
        <form #resetForm="ngForm" (ngSubmit)="resetSubmit(resetForm)">
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email" #email="ngModel" [(ngModel)]="user.Email" placeholder="E-mail adresinizi giriniz"  />
            </div>
            <button type="submit">Şifremi Sıfırla</button>
            <a routerLink="/login">veya Giriş Yapın</a>
        </form>
    </div>
</div>